@import "./partials/header";
@import "./partials/_clearfix";
@import "./partials/_reset";
@import "./partials/details";
@import "./partials/gallery";
@import "./partials/mixin"; 


.body{
  margin: 0 auto;
  width: 100%;
}

aside{
  display: block;
}