<h1>POST A NEW PHOTO</h1>



<form id="postForm" action='/gallery' method="post">
<input type='text' name = "author" value = 'Product Name'><br>
<input type='text' name = 'link' value ='Price'><br>
<input type='text' name = 'description' value ='Availability'><br>
<input type='submit' value='submit'>
</form>
