
#container{
  width: 1200px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 auto;

}

.post{
  flex: 1 1 33%;
  padding: 10px;
  // overflow: hidden;
}



.post img{
  width: 100%;
}

.post:first-child{
  flex: 1 1 100%;
  border-bottom: solid gray;
}

.post:nth-child(n+2){
  height: 200px;
  overflow: hidden;
  content: center;

}

  @media screen and (max-width: 1000px){

      #container{
        width: 75%;
      }

      .post{
      // flex: 1 1 50%;
      margin: 2px;
      // overflow: hidden;
      }

      .post:first-child{
      flex: 1 1 100%;
      border-bottom: solid gray;
      }

      .post:nth-child{
        height: 200px;
        overflow: hidden;
        content: center;
      }
   }

   @media screen and (max-width: 400px){

      #container{
        width: 100%;
      }

      .post{
      flex: 1 1 80%;
      margin: 2px;
      // overflow: hidden;
      }

      .post:first-child{
      flex: 1 1 100%;
      border-bottom: solid gray;
      margin-bottom: 2em;
      }

      .post:nth-child(1n+2){
        height: 200px;
        overflow: hidden;
        content: center;
      }
   }

   