.header{
  border-top: solid thin gray;
  margin-top: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

#title{
    font-size: 5em;
    color: gray;
    text-decoration: none;
    text-align: center;
}

#title a:visitied{
  text-decoration: none;
  color: gray;
}




#paragraph{
  width: 300px;
  border-left: solid gray;
  padding: 20px;
  font-size: 1em;
}





@media screen and (max-width: 600px ){
  .header{
  background-color: blue;
  width: 45%;
  margin: 0 auto;
  }

  #title{
    text-align: center;
    width:45%;
  }

  #paragraph{
    display: none;
  }

}