.header{
  border-top: solid thin gray;
  width: 1200px;
  margin-top: 10%;
  display: flex;
  flex-flow: row wrap;

}

#title{
  @include title(10px, gray);
}

#paragraph{
  width: 200px;
  
}



@media screen and (max-width: 600px ){
  .header{
  background-color: blue;
  width: 75%;
  }

  #title{
    text-align: center;
    width: 75%;
  }

  #paragraph{
    display: none;
  }

}